@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;600;800&display=swap');
body {
  font-family: 'Merriweather', 'Georgia', serif;
  background: #fcf8f3;
  color: #212022;
  font-size: 1.07rem;
  line-height: 1.82;
}
h1, h2, h3 {
  font-family: 'Merriweather', 'Georgia', serif;
  color: #735221;
}
h1 {
  font-size: 2.1rem;
  margin-top: 0.6em;
  font-weight: 800;
}
h2 {
  font-size: 1.18rem;
  margin-top: 2.5em;
  font-weight: 600;
  border-bottom: 1px solid #fae8c2;
  padding-bottom: 4px;
}
.container, .blog-container {
  background: #fffefb;
  border-radius: 12px;
  box-shadow: 0 2px 10px #e0d7ca9a;
  padding: 28px 18px;
  max-width: 1100px;
  margin: 46px auto 56px auto;
}
a.cta, .cta {
  display: block;
  margin: 32px auto 0 auto;
  text-align: center;
  background: #38b6ff;
  color: #fff;
  padding: 15px 28px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Segoe UI', Arial, sans-serif;
  font-size: 1.1rem;
  transition: background 0.2s;
  box-shadow: 0 1px 7px #a2c7e4a8;
  border: none;
  width: fit-content;
}
a.cta:hover, .cta:hover {
  background: #229edb;
  color: #fff;
}
@media (max-width: 900px) {
  .container, .blog-container {
    max-width: 98vw;
    padding: 10vw 2vw;
  }
}
